<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script>
    $(function(){
      $("#includedContent").load("layout.html");
    });
  </script>
</head>
<body>
<div class="container">
  <h2>Sign Up</h2>
  <form action="/auth/sign-up" method="POST">
    <label for="name">Name:</label>
    <input id="name" name="name" required type="text">

    <label for="email">Email:</label>
    <input id="email" name="email" required type="email">

    <label for="password">Password:</label>
    <input id="password" name="password" required type="password">

    <label for="phoneNumber">Phone Number:</label>
    <input id="phoneNumber" name="phoneNumber" required type="tel">

    <button type="submit">Sign Up</button>
  </form>
  <p>Already have an account? <a href="/auth/sign-in">Sign In</a></p>
</div>
</body>
</html>
