<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Sign In</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
  <h2>Sign In</h2>
  <form id="signInForm" action="/auth/sign-in" method="POST" enctype="application/x-www-form-urlencoded">
    <label for="username">Email:</label>
    <input id="username" name="username" type="username">

    <label for="password">Password:</label>
    <input id="password" name="password" required type="password">

    <button type="submit">Sign In</button>
  </form>
  <div class="social-signin">
    <button class="yandex-btn" onclick="signInWithYandex()">
      <img alt="Yandex Logo" class="yandex-icon" src="/images/yandex-svgrepo-com.svg"> Sign in with Yandex
    </button>
  </div>
  <p>Don't have an account? <a href="/auth/sign-up">Sign Up</a></p>
</div>
<script>
  function signInWithYandex() {
    const yandexClientId = "e433c3b109d843cf99aee678afa66710";
    const yandexAuthUrl = `https://oauth.yandex.ru/authorize?response_type=token&client_id=${yandexClientId}`;
    window.location.href = yandexAuthUrl;
  }

  window.onload = function () {
    window.YaAuthSuggest.init({
              client_id: 'e433c3b109d843cf99aee678afa66710',
              response_type: 'token',
              redirect_uri: 'http://localhost:8080/'
            },
            'http://localhost:8080/', {
              view: 'button',
              parentId: 'container',
              buttonView: 'main',
              buttonTheme: 'light',
              buttonSize: 'm',
              buttonBorderRadius: 0
            }
    )
            .then(function (result) {
              return result.handler()
            })
            .then(function (data) {
              console.log('Сообщение с токеном: ', data);
              document.body.innerHTML += `Сообщение с токеном: ${JSON.stringify(data)}`;
            })
            .catch(function (error) {
              console.log('Что-то пошло не так: ', error);
              document.body.innerHTML += `Что-то пошло не так: ${JSON.stringify(error)}`;
            });
  };


</script>

</body>
</html>