<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Контакты</title>
  <link rel="stylesheet" th:href="@{/contacts.css}">

  <script src="https://api-maps.yandex.ru/2.1/?apikey=9e4c85b0-dbea-4daa-abb5-845a00bde9df&lang=ru_RU" type="text/javascript">
  </script>
</head>
<body>
<div th:replace="navbar.html"></div>


<div class="container">
  <h1>Контакты</h1>

  <h2>Наши контактные данные</h2>
  <p>Если у вас есть вопросы или предложения, не стесняйтесь связаться с нами по любому из следующих способов:</p>

  <h3>Электронная почта</h3>
  <p>Общие вопросы: mrirmag.pr@gmail.com</p>
  <p>Поддержка: mrirmag.support@gmail.com</p>

  <h3>Телефон</h3>
  <p>Наш телефон: <a href="tel:+77772000050">+7 (777) 200-00-50</a></p>

  <h3>Адрес</h3>
  <p>Мы находимся по адресу:</p>
  <p>
    Алматы, улица Керей-Жанибек Хандар, 465<br>
    Алматы, Казахстан,<br>
    Индекс 050000
  </p>

  <div id="map" style="width: 600px; height: 400px"></div>


  <h2>Форма обратной связи</h2>
  <form th:action="@{/send-message}" method="post">
    <div>
      <label for="name">Ваше имя:</label>
      <input type="text" id="name" name="name" required>
    </div>
    <div>
      <label for="email">Ваш email:</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div>
      <label for="message">Сообщение:</label>
      <textarea id="message" name="message" rows="5" required></textarea>
    </div>
    <button type="submit">Отправить</button>
  </form>
</div>
<div th:replace="footer.html"></div>

<script type="text/javascript">

  ymaps.ready(init);
  function init(){
    var myMap = new ymaps.Map("map", {
      // Координаты центра карты.
      // Порядок по умолчанию: «широта, долгота».
      // Чтобы не определять координаты центра карты вручную,
      // воспользуйтесь инструментом Определение координат.
      center: [43.15775867618688,77.0590175185954],
      // Уровень масштабирования. Допустимые значения:
      // от 0 (весь мир) до 19.
      zoom: 15
    });
  }
</script>
</body>
</html>
