<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${productName}">Product Name</title>
    <link rel="stylesheet" th:href="@{/product-page.css}" type="text/css"/>
    <style>
    </style>
</head>
<body>
<div th:replace="navbar.html"></div>

<div class="container">
    <h1 th:text="${product.get('title')}">Product Name</h1>

    <div class="carousel">
        <div th:each="image : ${product.get('photos')}">
            <img th:src="${image}" alt="Product Image">
        </div>
    </div>

    <div class="carousel-buttons">
        <button onclick="previousImage()">Назад</button>
        <button onclick="nextImage()">Вперед</button>
    </div>

    <div class="product-price">
        <p th:text="'Цена: ' + ${product.get('price')}">Product Price</p>
    </div>

    <div class="button-container">
        <button class="inactive-button" onclick="showDetails('description')">Описание</button>
        <button class="inactive-button" onclick="showDetails('characteristics')">Характеристики</button>
    </div>

    <div id="description" class="product-details" style="display: none;">
        <h3>Описание</h3>
        <img th:if="${product.get('linkForPhoto') != 'https://shop.kz'}" th:src="${product.get('linkForPhoto')}" alt="Product Description Image">
        <p th:text="${product.get('description')}">Product Description</p>
    </div>

    <div id="characteristics" class="product-details" style="display: none;">
        <h3>Характеристики</h3>
        <table>
            <tbody>
            <tr th:each="entry : ${product.entrySet()}">
                <td th:if="${entry.key != null and entry.value != null and entry.key != '_id' and entry.key != 'url' and entry.key != 'id_item' and entry.key != 'linkForPhoto' and entry.key != 'description' and entry.key != 'photos'}">
                    <strong th:text="${entry.key}"></strong>
                </td>
                <td th:if="${entry.key != null and entry.value != null and entry.key != '_id' and entry.key != 'url' and entry.key != 'id_item' and entry.key != 'linkForPhoto' and entry.key != 'description' and entry.key != 'photos'}">
                    <span th:text="${entry.value}"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="footer.html"></div>

<script>
    let currentImageIndex = 0;
    const images = document.querySelectorAll('.carousel img');

    function showImage(index) {
        images.forEach((img, i) => {
            img.style.display = i === index ? 'block' : 'none';
        });
    }

    function previousImage() {
        currentImageIndex = (currentImageIndex - 1 + images.length) % images.length;
        showImage(currentImageIndex);
    }

    function nextImage() {
        currentImageIndex = (currentImageIndex + 1) % images.length;
        showImage(currentImageIndex);
    }

    function showDetails(section) {
        document.getElementById('description').style.display = 'none';
        document.getElementById('characteristics').style.display = 'none';

        document.getElementById(section).style.display = 'block';

        var buttons = document.querySelectorAll('.button-container button');
        buttons.forEach(function(button) {
            button.classList.remove('active-button');
            button.classList.add('inactive-button');
        });
        event.target.classList.add('active-button');
    }

    document.addEventListener("DOMContentLoaded", function() {
        showDetails('description');
        showImage(currentImageIndex);
    });
</script>
<script th:inline="javascript">
    var productPrice = [[${product.get('price')}]];
    if (productPrice === null) {
        document.querySelector('.product-price p').textContent = 'Товар закончился';
    }
</script>

</body>
</html>
