<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>О нас</title>
    <link rel="stylesheet" th:href="@{/about.css}">
</head>
<body>
<div th:replace="navbar.html"></div>

<div class="container">
    <h1>О нас</h1>
    <p>Дата основания: <span th:text="${foundationDate}">1 января 2020 года</span></p>

    <h2>Наша миссия</h2>
    <p>Наша миссия заключается в предоставлении качественных услуг и продуктов нашим клиентам. Мы стремимся быть лидерами в нашей отрасли, постоянно улучшая наши предложения и ориентируясь на потребности наших клиентов.</p>

    <h2>Наша команда</h2>
    <p>У нас есть замечательная команда профессионалов, которые работают вместе, чтобы достичь наших целей. Мы ценим каждого члена нашей команды и верим в силу совместной работы.</p>

    <h2>Наши ценности</h2>
    <ul>
        <li>Качество: Мы стремимся предоставлять только самые качественные продукты и услуги.</li>
        <li>Инновации: Мы постоянно ищем новые способы улучшения наших предложений.</li>
        <li>Честность: Мы работаем честно и открыто с нашими клиентами и партнерами.</li>
        <li>Ответственность: Мы берем на себя ответственность за наши действия и решения.</li>
    </ul>

    <h2>Свяжитесь с нами</h2>
    <p>Если у вас есть вопросы или предложения, не стесняйтесь обращаться к нам по электронной почте <a>mrirmag.pr@gmail.com</a>.</p>
</div>

<div th:replace="footer.html"></div>

</body>
</html>
