<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/navbar.css}" type="text/css">
</head>
<body>
<header>
    <nav th:fragment="navbar (searchQuery)">
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/categories">Категории</a></li>
            <li><a href="/about">О нас</a></li>
        </ul>
        <div class="search-bar">
            <form action="/search" method="get">
                <input id="search-input" name="text" type="text" th:value="${searchQuery}" th:placeholder="${searchQuery != null ? searchQuery : 'Поиск...'}">
                <button type="submit">Искать</button>
            </form>
        </div>
        <ul class="user-menu">
            <li><a href="/account">Аккаунт</a></li>
        </ul>
    </nav>
</header>
</body>
</html>
