<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Политика конфиденциальности</title>
    <link rel="stylesheet" th:href="@{/privacy.css}">
</head>
<body>
<div th:replace="navbar.html"></div>
<div class="container">
    <h1>Политика конфиденциальности</h1>
    <p>Дата вступления в силу: <span th:text="${effectiveDate}">1 января 2023 года</span></p>

    <h2>1. Введение</h2>
    <p>Мы ценим вашу конфиденциальность и стремимся защищать ваши персональные данные. Настоящая политика конфиденциальности объясняет, какие данные мы собираем, как мы их используем и какие у вас есть права в отношении ваших данных.</p>

    <h2>2. Сбор информации</h2>
    <p>Мы можем собирать и обрабатывать следующие данные о вас:</p>
    <ul>
        <li>Контактная информация (например, имя, адрес электронной почты, номер телефона);</li>
        <li>Данные о пользовании нашим сайтом (например, IP-адрес, тип браузера, страницы, которые вы посещаете);</li>
        <li>Любая другая информация, которую вы предоставляете нам добровольно.</li>
    </ul>

    <h2>3. Использование данных</h2>
    <p>Мы используем собранные данные для следующих целей:</p>
    <ul>
        <li>Для предоставления и улучшения наших услуг;</li>
        <li>Для связи с вами и ответов на ваши запросы;</li>
        <li>Для анализа и улучшения работы нашего сайта.</li>
    </ul>

    <h2>4. Обмен данными</h2>
    <p>Мы не передаем ваши данные третьим лицам, за исключением случаев, когда это необходимо для выполнения наших услуг или если это требуется законом.</p>

    <h2>5. Ваши права</h2>
    <p>Вы имеете право запросить доступ к вашим данным, их исправление или удаление. Для этого свяжитесь с нами по электронной почте <a>mrirmag.pr@gmail.com</a>.</p>

    <h2>6. Изменения в политике конфиденциальности</h2>
    <p>Мы можем время от времени обновлять нашу политику конфиденциальности. Все изменения будут опубликованы на этой странице.</p>
</div>

<div th:replace="footer.html"></div>
</body>

</html>
