<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Условия пользования</title>
  <link rel="stylesheet" th:href="@{/terms.css}">
</head>
<body>
<div th:replace="navbar.html"></div>

<div class="container">
  <h1>Условия пользования</h1>
  <p>Дата вступления в силу: <span th:text="${effectiveDate}">1 января 2023 года</span></p>

  <h2>1. Введение</h2>
  <p>Настоящие условия пользования регулируют ваш доступ и использование нашего веб-сайта. Пожалуйста, внимательно прочитайте их перед использованием сайта.</p>

  <h2>2. Использование сайта</h2>
  <p>Вы соглашаетесь использовать наш сайт только в законных целях и в соответствии с настоящими условиями. Вы не должны:</p>
  <ul>
    <li>Нарушать любые применимые законы и правила;</li>
    <li>Заниматься мошенничеством или вводить в заблуждение;</li>
    <li>Пытаться получить несанкционированный доступ к нашему сайту или серверам;</li>
    <li>Распространять вирусы или другой вредоносный код.</li>
  </ul>

  <h2>3. Ограничение ответственности</h2>
  <p>Наш сайт предоставляется "как есть", и мы не несем ответственности за любой ущерб, возникающий в связи с использованием сайта.</p>

  <h2>4. Изменения условий</h2>
  <p>Мы можем время от времени обновлять настоящие условия пользования. Все изменения будут опубликованы на этой странице. Продолжая использовать наш сайт после внесения изменений, вы соглашаетесь с обновленными условиями.</p>

  <h2>6. Контактная информация</h2>
  <p>Если у вас есть вопросы по поводу этих условий, пожалуйста, свяжитесь с нами по электронной почте <a>mrirmag.pr@gmail.com</a>.</p>
</div>

<div th:replace="footer.html"></div>

</body>
</html>
