<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Главная страница</title>
  <link rel="stylesheet" th:href="@{/welcome-page.css}">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

</head>
<body>
<div th:replace="navbar.html"></div>


<main>
  <div class="container">
    <section class="hero">
      <h2>Лучшие продукты по лучшим ценам</h2>
      <p>Откройте для себя наш ассортимент качественных продуктов по отличным ценам.</p>
      <a href="/categories" class="btn">Купить сейчас</a>
    </section>

    <section class="featured-products">
      <h2>Популярные продукты</h2>
      <div class="carousel-container">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" th:each="product : ${featuredProducts}">
              <img th:src="${product.get('photos')[0]}" th:alt="${product.get('title')}">
              <h3 th:text="${product.get('title')}">Название продукта</h3>
              <p th:if="${product.get('price') != null}" th:text="'Цена продукта: ' + ${product.get('price')}"></p>
              <p th:unless="${product.get('price') != null}">Товар закончился</p>
              <a th:href="@{/product/{id_item}(id_item=${product.get('id_item')})}" class="btn">Посмотреть</a>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </section>

  </div>
</main>

<div th:replace="footer.html"></div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper('.swiper-container', {
    loop: true,
    slidesPerView: 3,
    spaceBetween: 30,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
  });
</script>

</body>
</html>
